.product-reviews-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product-reviews-title h2 {
  margin: 0;
}
.product-reviews-title-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.product-reviews-title-rating span {
  padding-top: 2px;
}
