.content {
  margin: 6rem auto 2rem;
  padding: 2rem 2rem 2rem;
  width: 90%;
  max-width: 1200px;
}

.button-primary,
.button-secondary {
  border: solid 1px;
  padding: 0.8em 1.6em;
  display: inline-block;
  text-decoration: none;
}

.button-primary:hover,
.button-secondary:hover {
  text-decoration: underline;
  transform: translateX(-2px) translateY(-2px);
}

.button-primary {
  background-color: var(--color1);
  color: var(--color2);
  border-color: var(--color2);
}

.button-primary:hover {
  background-color: var(--color4);
  color: var(--color3);
  box-shadow: 2px 2px var(--color4);
}

.button-secondary {
  background-color: var(--color4);
  color: var(--color2);
  border-color: var(--color2);
}

.button-secondary:hover {
  background-color: var(--color4);
  color: var(--color3);
  box-shadow: 2px 2px var(--color4);
  border-color: var(--color2);
}

.iconed-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.link {
  color: var(--color4);
  text-decoration: underline;
  font-weight: 500;
}

.link:hover {
  color: var(--color1);
}

.link-secondary {
  color: var(--color3);
  text-decoration: underline;
  font-weight: 500;
}

.link-secondary:hover {
  color: var(--color1);
}

.navigation-history {
  margin-bottom: 1rem;
}

.button-group {
  display: flex;
  background-color: var(--color4);
}

.button-group button,
.dropdown {
  border: none;
  border-radius: 0;
  background-color: var(--color4);
  padding: 0.6em 1.2em;
  color: var(--color3);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.button-group button {
  display: flex;
  align-items: center;
}

.dropdown {
  cursor: pointer;
}

.button-group button:hover,
.dropdown:hover {
  background-color: var(--color1);
  color: var(--color2);
}

.button-group button.is-active {
  background-color: var(--color1);
  color: var(--color2);
}

.tiptap[contenteditable="true"] {
  border: solid 1px var(--color4);
  padding: 1rem;
}

.tiptap[contenteditable="true"]:focus-within {
  outline: none;
}

.richtext-dialog {
  background-color: var(--color4);
  color: var(--color3);
  border: 1px solid var(--color3);
  position: absolute;
  transform: translateY(42px);
  width: 300px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  text-align: center;
}

.richtext-dialog button {
  display: block;
  border: 1px solid var(--color3);
}

.richtext-dialog .text-field {
  display: block;
  border: 1px solid var(--color3);
}

.richtext-dialog .text-field:focus {
  outline: none;
  border: 1px solid var(--color3);
}

.text-field {
  border: solid 1px var(--color4);
  padding: 0.8em;
  display: inline-block;
  background-color: var(--color4);
  color: var(--color3);
}

.text-field:focus {
  outline: none;
  border: solid 1px var(--color4);
}

.input-label {
  margin-bottom: 0.5em;
}

.text-field-primary {
  border: solid 1px var(--color1);
  padding: 0.8em;
  display: inline-block;
  background-color: var(--color2);
  color: var(--color1);
}

.text-field-secondary {
  border: solid 1px var(--color3);
  padding: 0.8em;
  display: inline-block;
  background-color: var(--color5);
  color: var(--color3);
}

.tiptap img {
  max-width: 100%;
}

.input-prefix {
  display: flex;
  flex-direction: row;
  padding: 0em 0.5em;
  align-items: center;
  justify-content: stretch;
  background-color: var(--color4);
}

.input-prefix span {
  text-wrap-mode: nowrap;
  text-wrap: none;
  font-size: small;
  background-color: var(--color4);
  border: 1px solid var(--color3);
  color: var(--color3);
  padding: 0.5em;
  border-radius: 2em;
  user-select: none;
}

.input-prefix input {
  width: 100%;
}