header {
  padding: 0;
  background-color: var(--color1);
  color: var(--color2);
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-main .nav-links {
  height: 100%;
}

.nav-main .nav-logo {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "DM Serif Text", serif;
  color: var(--color2);
  margin: 0.5rem 1rem;
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.nav-links .nav-a {
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color2);
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

#nav-button-dashboard {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color4);
  color: var(--color3);
}

.nav-links .nav-a:hover,
#nav-button-dashboard:hover {
  background-color: var(--color2);
  color: var(--color4);
}

.nav-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  height: 100%;
  cursor: text;
}

.nav-search:hover {
  background-color: var(--color2);
  color: var(--color4);
}

.nav-search input {
  background-color: transparent;
  padding: 0.4rem 0.2rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

.nav-search input:focus {
  outline: none;
}

.nav-search:hover input {
  color: var(--color4);
}

.nav-profile {
  height: 100%;
}
.nav-profile .nav-a {
  margin: 0;
}

.nav-profile-dropdown {
  background-color: var(--color1);
  position: absolute;
  width: auto;
  min-width: 150px;
}

.content {
  padding: 6rem 2rem 2rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.button-primary,
.button-secondary {
  border: solid 1px;
  padding: 0.8em 1.6em;
  display: inline-block;
  text-decoration: none;
}

.button-primary:hover,
.button-secondary:hover {
  text-decoration: underline;
  transform: translateX(-2px) translateY(-2px);
}

.button-primary {
  background-color: var(--color1);
  color: var(--color2);
  border-color: var(--color2);
}

.button-primary:hover {
  background-color: var(--color4);
  color: var(--color3);
  box-shadow: 2px 2px var(--color4);
}

.button-secondary {
  background-color: var(--color2);
  color: var(--color4);
  border-color: var(--color4);
}

.button-secondary:hover {
  background-color: var(--color4);
  color: var(--color3);
  box-shadow: 2px 2px var(--color4);
  border-color: var(--color2);
}

.iconed-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.link {
  color: var(--color4);
  text-decoration: underline;
  font-weight: 500;
}

.link:hover {
  color: var(--color1);
}

.navigation-history {
  margin-bottom: 1rem;
}

.market-assets {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.market-asset {
  background-color: var(--color2);
  border: solid 1px var(--color4);
  border-radius: 8px;
  padding: 0;
  width: calc(33% - 1rem);
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.market-asset:hover {
  box-shadow: 0 7px 24px rgba(0, 0, 0, 0.17);
  transform: translateY(-2px);
}

.market-asset-thumbnail {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  aspect-ratio: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.market-asset-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.market-asset-details {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.market-asset-title {
  padding: 0.8rem 1rem;
}

.market-asset-title h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.market-asset-stars {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding-left: 0.2rem;
}

.market-asset-stars p {
  padding-top: 2px;
}

.market-asset h2 {
  margin: 0;
}

.market-asset p {
  margin: 0;
}

.market-asset-footer {
  padding: 0 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.market-asset-price p {
  font-weight: 600;
  background-color: var(--color1);
  color: var(--color2);
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color2);
  color: var(--color1);
  text-align: center;
}

.hero-section h1 {
  font-size: 4rem;
  margin: 0;
}

.hero-section p {
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
  max-width: 600px;
}

.hero-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.image-carousel {
  width: 100%;
  margin: 0 auto 2rem;
  position: relative;
}

.image-carousel img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-carousel .carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.image-carousel .carousel-controls .carousel-button {
  background-color: var(--color3);
  border: solid 1px var(--color4);
  color: var(--color4);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

.image-carousel .carousel-controls .carousel-button:hover {
  background-color: var(--color4);
  color: var(--color2);
}

.image-carousel .carousel-indicators {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.image-carousel .carousel-indicators .carousel-indicator {
  width: 12px;
  height: 12px;
  background-color: var(--color3);
  border: solid 1px var(--color4);
  border-radius: 50%;
  cursor: pointer;
}

.image-carousel .carousel-indicators .carousel-indicator.active {
  background-color: var(--color4);
}

.product-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.product-body {
  flex-grow: 1;
}

.product-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.product-header h1 {
  margin: 0;
  padding: 0;
}

.product-header-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.profile-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.profile-link .avatar {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color4);
  border-radius: 50%;
  margin-right: 0.8rem;
}

.star-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.star-rating .ratings-count {
  margin-left: 0.3rem;
}

.product-purchase {
  flex-shrink: 0;
  width: 300px;
}

.product-purchase-box {
  border: solid 1px var(--color4);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.product-price {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 1rem;
}

.product-tags {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.product-tag {
  background-color: var(--color4);
  color: var(--color2);
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.content-image {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 8px;
}

.button-group {
  display: flex;
  background-color: var(--color4);
}

.button-group button,
.dropdown {
  border: none;
  border-radius: 0;
  background-color: var(--color4);
  padding: 0.6em 1.2em;
  color: var(--color3);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.button-group button {
  display: flex;
  align-items: center;
}

.dropdown {
  cursor: pointer;
}

.button-group button:hover,
.dropdown:hover {
  background-color: var(--color1);
  color: var(--color2);
}

.button-group button.is-active {
  background-color: var(--color1);
  color: var(--color2);
}

.tiptap[contenteditable="true"] {
  border: solid 1px var(--color4);
  padding: 1rem;
}

.tiptap[contenteditable="true"]:focus-within {
  outline: none;
}

.ProseMirror-selectednode {
  border: solid 2px var(--color1);
  box-shadow: 0px 4px 10px #00000044;
}

.richtext-dialog {
  background-color: var(--color4);
  color: var(--color3);
  border: 1px solid var(--color3);
  position: absolute;
  transform: translateY(42px);
  width: 300px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  text-align: center;
}

.richtext-dialog button {
  display: block;
  border: 1px solid var(--color3);
}
.richtext-dialog .text-field {
  display: block;
  border: 1px solid var(--color3);
}
.richtext-dialog .text-field:focus {
  outline: none;
  border: 1px solid var(--color3);
}

.text-field {
  border: solid 1px var(--color4);
  padding: 0.8em;
  display: inline-block;
  background-color: var(--color4);
  color: var(--color3);
}
.text-field:focus {
  outline: none;
  border: solid 1px var(--color4);
}

.input-label {
  margin-bottom: 0.5em;
}

.text-field-primary {
  
}

.text-field-secondary {
  border: solid 1px var(--color3);
  padding: 0.8em;
  display: inline-block;
  background-color: var(--color5);
  color: var(--color3);
}
