@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0F1F17;
  background-color: #FFE6D9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color1: #FF3300;
  --color2: #FFE6D9;
  --color3: #D9E0E0;
  --color4: #0F1F17;
  --color5: #040806;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: var(--color4);
  text-decoration: underline;
}
a:hover {
  color: var(--color1);
}

blockquote {
  border-left: 4px solid var(--color4);
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  color: var(--color4);
  opacity: 0.9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Text", serif;
}

strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
u {
  text-decoration: underline;
}
s {
  text-decoration: line-through;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0.8em 1.6em;
  display: inline-block;
  background-color: var(--color1);
  color: var(--color2);
  border-color: var(--color2);
  border: solid 1px;
  border-bottom-width: 1px;
}
button:hover {
  text-decoration: underline;
  background-color: var(--color4);
  color: var(--color3);
  transform: translateX(-2px) translateY(-2px);
  box-shadow: 2px 2px var(--color3);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

img {
  border-radius: 6px;
}
