.product-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.product-body {
  flex-grow: 1;
}

.product-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.product-header h1 {
  margin: 0;
  padding: 0;
}

.product-header-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.product-right-content {
  flex-shrink: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-purchase {
  width: auto;
}

.product-purchase-box,
.product-purchase-box-multi {
  border: solid 1px var(--color4);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.product-purchase-box-multi {
  gap: 0.25em;
}

.product-purchase-box ul {
  padding-left: 1.5em;
  margin: 0 0 1em;
}

.product-price {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 1rem;
}

.product-reviews {
  border: solid 1px var(--color4);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-review {
  border-left: solid 2px var(--color4);
  padding: 0.5rem 0 0.2rem 0.6rem;
}

.product-review p {
  margin: 0.5em 0 0.2em;
}

.product-review button {
  padding: 0.4em;
}

.product-review .product-review-reply {
  padding: 0.5rem 0 0rem 0.5rem;
}

.product-review-replier {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-creator-tag {
  background-color: var(--color4);
  color: var(--color2);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.product-tags {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.product-tag {
  background-color: var(--color4);
  color: var(--color2);
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.content-image {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 8px;
}

.product-version {
  background-color: var(--color4);
  color: var(--color2);
  border-radius: 8px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: left;
}

.product-version-selected {
  border: 1px solid var(--color4);
  box-shadow: 2px 2px 0px var(--color4);
}

.product-version-selected, .product-version-selected:hover, .product-version-selected:active {
  background-color: var(--color1);
  color: var(--color2);
}

.product-version:hover {
  text-decoration: none;
}

.product-version-title {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: left;
  align-items: center;
  margin: 0;
}

.product-version-price {
  background-color: var(--color4);
  border: 1px solid var(--color2);
  padding: 0.2em 0.3em;
  border-radius: 1em;
}

.product-version ul {
  padding-left: 1.5em;
  margin: 0;
}