.editor-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 0;
  padding-top: 0;
}

.editor-main {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.editor-main-left,
.editor-main-right {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 14em;
}

.editor-main-left {
  width: 75%;
}

.editor-main-right {
  width: 25%;
}

.editor-main-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.editor-main-item h2 {
  margin-bottom: 0.5em;
}

.editor-description {
  display: flex;
  flex-direction: column;
}

#page-editor-root .ProseMirror-selectednode {
  border: solid 2px var(--color1);
  box-shadow: 0px 4px 10px #00000044;
}

.product-description-richtext-editor .tiptap {
  height: 32em;
  max-height: 32em;
  overflow-y: scroll;
}

.editor-versions {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid var(--color4);
  padding: 2em;
}

.editor-version {
  border: 1px solid var(--color4);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.editor-version-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
  justify-content: stretch;
  position: fixed;
  left: 0;
  right: 0;
  background-color: var(--color2);
  padding: 2em;
  margin-top: 68px;
  border-bottom: 1px solid var(--color4);
  z-index: 30;
}

.editor-toolbar h2 {
  margin: 0;
  width: 100%;
}

.editor-toolbar button {
  flex-shrink: 0;
}

.editor-feature-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}

.editor-feature-row input {
  width: 100%;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-group button {
  transform: translateX(0) translateY(0);
  border: 0;
  box-shadow: none;
}

.editor-thumbnails {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0.5em;
  background-color: var(--color4);
}

.editor-thumbnail {
  display: inherit;
  cursor: move;
}

.editor-thumbnail video {
  border-radius: 6px;
}

.editor-thumbnail .play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 50%;
  box-shadow: none;
  background-color: #00000044;
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  z-index: 20;
}

.editor-thumbnail-delete {
  display: none;
}

.editor-thumbnail {
  position: relative;
}

.editor-thumbnail:hover .editor-thumbnail-delete,
.editor-thumbnail-delete:hover,
.editor-thumbnail-delete:active {
  display: unset;
  width: 32px;
  height: 32px;
  padding: 7px;
  border-radius: 50%;
  box-shadow: none;
  transform: none;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 20;
}