.settings-return {
  max-width: 670px;
  margin: 6rem auto 0;
}

.settings-content {
  max-width: 670px;
  border: 2px solid var(--color4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
}

.settings-content h1 {
  margin: 0 0 1rem;
}

.settings-form-content {
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--color4);
  padding: 0.5em 1em 1.5em;
}

.settings-form-content h2 {
  margin: 0;
}

.settings-form-content section {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.settings-avatar-section {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.settings-avatar-section-info {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
}

.settings-avatar-section-info p,
.settings-avatar-section-info i {
  margin: 0;
}

.settings-avatar-section-info i {
  font-size: small;
}

.settings-avatar-pic {
  position: relative;
  width: 156px;
  height: 156px;
  flex-shrink: 0;
}

.settings-avatar {
  width: 156px;
  height: 156px;
  font-size: 64px;
  border-radius: 50%;
  margin-right: 0.8rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, var(--color4), var(--color5));
  cursor: pointer;
  position: absolute;
}

.settings-avatar-delete {
  width: 32px;
  height: 32px;
  padding: 7px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.save-button {
  margin-top: 1rem;
  margin-bottom: -1rem;
  align-self: end;
}